@charset "utf-8";
/* CSS Document */
/*main.css*/
body{
	background: #fafafa;
	height: 100%;
	font-size: 15px;
	color: #262626;
	font-family: "微软雅黑";
}
.clear{
	clear: both;
}
.content{
	width: 1180px;
	margin: 0px auto;
}
.top{
	height: 30px;
	/* background: #fff; */
	font-size: 12px;
}
.top .glyphicon-map-marker{
	color: #ff5a07;
	line-height: 28px;
}
.top_city a{
	color: #007ef2;
}
.top_nav{
	width: 272px;
	height: 100%;
}
.top_nav_item{
	display: inline-block;
	margin-left: 16px;
	position: relative;
	max-width: 74px;
	height: 100%;
	line-height: 30px;
	cursor: pointer;
}
.top_nav_nex{
	position: absolute;
	top: 100%;
	width: 93px;
	line-height: 1.8;
	background: #fff;
	display: none;
	z-index: 1001;
	padding: 0px 5px;
	border-radius: 4px;
}
.top .top_nav_item:last-child .top_nav_nex{
	width: 160px;
	right: 0;
}
.top_nav_item:hover .top_nav_nex{
	display: block;
}
.logo img{
	vertical-align: -13px;
}
.nav_container{
	background: #fff;
	/* height: 83px; */
	/* box-sizing: border-box; */
	padding-top: 22px;
}
.nav{
	width: 570px;
	/* background: #00ff00; */
	height: 60px;
	display: inline-block;
	margin-left: 14px;
	color: #333;
	font-size: 16px;
}
.nav .nav_item{
	display: inline-block;
}
.nav .nav_item a{
	display: inline-block;
	color: #333;
	font-size: 16px;
}
.nav .nav_item a:hover{
	background: none;
	border-bottom: 1px #007ef2 solid;
}
.nav .nav_item .nav_active{
	font-size: 18px;
	color: #007ef2;
	font-weight: 700;
}
.nav .nav_item .nav_active:hover{
	border: none;
}
.search_container{
	display: inline-block;
	width: 222px;
	height: 34px;
	/*background: #007ef2;*/
	box-sizing: border-box;
	vertical-align: -5px;
}
.search_select{
	width: 77px;
	height: 100%;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 34px;
	background: #007ef2;
	position: relative;
	cursor: pointer;
}
.search_input{
	width: 145px;
	background: url(../images/search_icon.png)no-repeat 118px center;
	border: 1px #ededed solid;
	height: 34px;
	border-left: none;
	box-sizing: border-box;
}
.search_input input{
	height: 100%;
	padding: 0 5px;
}
.search_select_list{
	position: absolute;
	top: 100%;
	width: 100%;
	color: #007ef2;
	background: #fff;
	border: #ededed 1px solid;
	display: none;
	z-index: 1;
}
.or_login_container{
	width: 197px;
	height: 40px;
	/* background: #f2f2f2; */
	display: inline-block;
	margin-left: 24px;
	vertical-align: 7px;
}
.or_login_container img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}
.user_login{
	width: 96px;
	display: inline-block;
	position: relative;
	height: 110%;
	/* box-sizing: border-box; */
	padding-bottom: 2px;
}
.user_login a{
	color: #262626;
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	height: 40px;
}
.user_login:hover a{
	border-bottom: #007ef2 1px solid;
}
.login_btn{
	width: 44px;
	height: 34px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 34px;
	border-radius: 5px;
	border:1px #007ef2 solid;
	display: inline-block;
	color: #007ef2;
}
.require{
	width: 72px;
	height: 34px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 34px;
	border-radius: 5px;
	background: #007ef2;
	display: inline-block;
}
.require:hover{
	color: #fff;
	text-decoration: none;
}
.user_informarion:before{
	display: block;
	width: 0px;
	height: 0px;
	content: '';
	border:5px transparent solid;
	border-bottom-color:rgba(0,0,0,0.25);
	position: absolute;
	top: -10px;
	right: 56px;
}
.user_informarion{
	position: absolute;
	top: 100%;
	width: 200px;
	height: 90px;
	background: rgba(0,0,0,0.25);
	border-radius: 5px;
	left: -84px;
	display: none;
	z-index: 1000;
}
.user_login:hover .user_informarion{
	display: block;
}
.user_informarion .balance{
	width: 170px;
	height: 50%;
	box-sizing: border-box;
	margin:0 auto;
	border-bottom: 1px rgba(255,255,255,0.5) solid;
	color: #fff;
	font-size: 14px;
	text-indent: 10px;
}
.user_informarion .balance span{
	color: #ff6000;
	line-height: 45px;
	text-indent: 2;
}
.index_news{
	line-height: 45px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.index_news span{
	padding-left: 10px;
}
.index_news span b{
	color: #ff6000;
}
/*å­å¯¼èˆª*/
.next_nav{
	height: 40px;
	background: #fff;
	border-top: 1px #f2f2f2 solid;
}
.next_nav_container{
	height: 40px;
	margin-top: -1px;
}
.next_nav_list{
	height: 100%;
	width: 100%;
}
.next_nav_list .next_nav_item{
	display: inline-block;
	margin-right: 25px;
	color: #333;
	font-size: 14px;
	border-top: 1px transparent solid;
	line-height: 40px;
	box-sizing: border-box;
}
.next_nav_list .next_nav_item:hover{
	border-color: #007ef2;
}
.next_nav_list .next_nav_active{
	border-color: #007ef2;
}
.next_nav_list .next_nav_active a{
	color: #007ef2;	
}
.next_nav_list .next_nav_disabale{
	border: none;
}
.next_nav_list .next_nav_disabale a{
	color: #999999;	
}
/*åˆ†é¡µ*/
.page_container{
	width: 100%;
	text-align: right;
	margin-top: 20px;
}
.page_container .page_btn{
	width: 60px;
	height: 24px;
	box-sizing: border-box;
	border: 1px #ededed solid;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	margin: 0 5px;
	background: #fff;
	display: inline-block;
}
.page_container .page_num{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #fff;
	text-align: center;
	line-height: 22px;
	border: 1px #ededed solid;
	margin: 0;
	font-size: 12px;
}
.page_container .page_nactive{
	border: none;
	background: none;
}
/**/
.inside_top{
	background: #fff;
	height: 77px;
	padding-top: 10px;
}
.inside_top img{
	margin-right:10px;
	vertical-align: -17px;
}
.inside_top h1{
	display: inline-block;
	font-size: 20px;
	height: 30px;
	color: #333;
	line-height: 30px;
	border-left: 1px #333 solid;
	padding-left: 20px;
}
/*å½“å‰ä½ç½®*/
.cur_position{
	font-size: 12px;
	color:#333;
	margin-top: 18px;
}
.cur_position a{
	margin:0px 5px;
}
/*footer*/
footer{
	margin-top:50px;
	height:93px;
	background:#f0f0f0;
	border-top:#c0d3e2 1px solid;
	}
footer div{
	height:15px;
	}
footer p{
	color: #808080;
	font-size:12px;
	line-height:20px;
	text-align:center;
	}